# Exclude unnecessary files from the npm package
.git
.github
node_modules
coverage
tests
*.test.*
*.config.*
*.md
*.log
.DS_Store

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.backup
.env*.local